[submodule "Roob/vendor/spdlog"]
	path = Roob/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Roob/vendor/GLFW"]
	path = Roob/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Roob/vendor/imgui"]
	path = Roob/vendor/imgui
	url = https://github.com/TheCherno/imgui
